---
const { member } = Astro.props;
import PbImage from "./PbImage.astro";
---

<div class="flex items-center gap-4 lg:gap-6">
  <div class="h-20 w-20 shrink-0 overflow-hidden rounded-full lg:h-24 lg:w-24">
    <PbImage
      record={member}
      imageField={member.photo}
      class="h-full w-full object-cover"
    />
  </div>

  <div class="text-left">
    <h3 class="text-base font-bold text-orange lg:text-lg">
      {member.prenom} {member.nom}
    </h3>

    <p class="mt-1 text-sm uppercase text-blue lg:text-base">
      {member.role}
    </p>
  </div>
</div>