---
const { scene } = Astro.props;
import PbImage from "./PbImage.astro";
---

<div class="px-5 lg:px-0 h-full">
  <div class="mx-auto max-w-3xl lg:max-w-none h-full">
    <div class="flex h-full flex-col gap-6">

      <div class="flex items-center gap-3 text-left">
        <h3 class="text-3xl font-bold uppercase text-orange lg:text-2xl">
          {scene.nom}
        </h3>

        <p class="mt-3 text-sm font-bold lg:mt-0">
          Capacité : {scene.capacite} places
        </p>
      </div>

      <div class="overflow-hidden rounded-3xl">
        <PbImage
          record={scene}
          imageField={scene.photo}
          class="h-80 w-full object-cover lg:h-56"
        />
      </div>

      <p class="text-left text-xl leading-relaxed line-clamp-3 lg:text-lg">
        {scene.description}
      </p>

      <div class="text-left mt-auto">
        <a
          href={`/scene/${scene.id}`}
          class="inline-flex items-center justify-center rounded-lg bg-orange px-6 py-3 text-sm font-bold uppercase text-white"
        >
          Voir la scène
        </a>
      </div>

    </div>
  </div>
</div>